@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

video {
    height: auto;
    border-radius: 1rem;
    margin: 0.5rem;
    width: 400px;
    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.options__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40px;
    border-radius: 5px;
    color: black;
    font-size: 1.2rem;
    width: 40px;
    margin: 0 0.5rem;
}

.background__red {
    background-color: #f6484a;
}

.main__right {
    display: flex;
    flex-direction: column;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: scroll;
}

 .main__chat_window::-webkit-scrollbar {
    display: none;
} 

.main__message_container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__message_container>input {
    height: 40px;
    flex: 1;
    font-size: 1rem;
    border:1px solid black;
    border-radius: 5px;
    padding-left: 20px;
    border: none;
}

.messages {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.message {
    display: flex;
    flex-direction: column;
}

.message>b {
    color: black;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.message>b>i {
    margin-right: 0.7rem;
    font-size: 1.5rem;
}

.message>span {
    background-color:black;
    margin: 10px 0;
    padding: 5px 0px 5px 13px;
    border-radius: 5px;
    color:white;
}

#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
}





@media (max-width: 500px) {

    video {
        height: 200px;
        width: 80%;
    }
}
@media (min-width:500px) and (max-width: 1170px){
    video{
        height:auto;
        width: 300px;
    }
}